:root {
    --blue: #006ccb;
    --icon: #4d535a;
}

.admin-main-page {
    position: relative;
    width: 75%;
    left: 25%;
    right: 0;
    top: 3.5rem;
    z-index: 900;
    height: 100%;
}

.admin-main-page .admin-grid {
    width: 97%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.admin-grid .admin-col {
    height: 100%;
    background: var(--white);
    padding: 1rem;
    border-radius: 5px;
    /*  box-shadow: var(--normal-shadow); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.admin-col .icon {
    font-size: 33px;
    color: var(--icon);
}
.admin-col span {
    color: var(--blue);
    font-weight: 600;
    font-size: 17px;
}
/*--> Admin Charts <--*/
.admin-chart {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
.admin-chart .chart {
    width: 100%;
    padding: 0.5rem;
    background: var(--white);
    margin: 0.5rem 0.5rem;
    border-radius: 5px;
}

.chart .flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
    padding: 0.4rem 0;
}
.flex span {
    color: var(--icon);
    font-weight: 800;
}
.flex .info {
    width: 90%;
    background: var(--blue);
    padding: 0.7rem;
    border-radius: 1px;
}
.flex .warning {
    width: 37%;
    background: #e0f100;
    padding: 0.7rem;
    border-radius: 1px;
}
.flex .success {
    width: 50%;
    background: #006305;
    padding: 0.7rem;
    border-radius: 1px;
}
.flex .delete {
    width: 80%;
    background: #ea3700;
    padding: 0.7rem;
    border-radius: 1px;
}
.flex .pending {
    width: 70%;
    background: #009ec8;
    padding: 0.7rem;
    border-radius: 1px;
}
.flex .report {
    width: 40%;
    background: #630055;
    padding: 0.7rem;
    border-radius: 1px;
}
.chart .circle {
    margin: 0.5rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    color: var(--icon);
    font-weight: 800;
    font-size: 20px;
    border-left: 15px solid #006306;
    border-top: 15px solid #ffe518;
    border-right: 15px solid #0005e0;
    border-bottom: 15px solid #e04900;
}
/*--> Media Query Responsive <--*/
@media (max-width: 668px) {
    .admin-main-page {
        width: 100%;
        left: 0;
    }
    .admin-main-page .admin-grid {
        grid-template-columns: repeat(auto-fill, minmax(47%, 1fr));
    }
    .admin-chart {
        flex-direction: column;
    }
}
